@import '../../variables.scss';

.capitals {
    width: 40%;
    margin: 0 auto;
    padding: ($gutter * 4) 0;

    &__content {
        background-color: white;
        opacity: 0.85;
        color: $main-gray;
        padding: $gutter * 4;
        border-radius: $gutter / 2;

        &__title {
            margin-top: 0;
        }
    }

    table {
        width: 100%;
        text-align: left;

        thead {
            font-weight: 100;
            font-size: 12px;
        }

        tbody {
            font-weight: 500;
            font-size: 14px;
        }

        tr {
            width: 50%;
            float: left;

            td {
                padding: ($gutter / 4) $gutter;
            }
        }
    }
}