@import '../../variables.scss';

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 70%;
  margin: ($gutter * 8) auto;

  @include tablet-mobile {
    width: 90%;
  }

  &__column {
    height: 630px;

    @include for-tablet-landscape-up {
      
      width: 50%;
      float: left;
    }

    &.banner {
      background: url('../../images/weather.gif') no-repeat center;

      @include tablet-mobile {
        background: url('../../images/clouds.gif') no-repeat center;
        height: 200px;
      }
    }

    &.content {
      background-color: $main-gray;
      padding: 0 ($gutter * 4) ($gutter * 2);
      @include tablet-mobile {
        height: auto;
      }
    }

    &__title {
      color: $main-gray;
      padding: ($gutter * 2) ($gutter * 4);
      text-align: left;
      text-transform: uppercase;
    }
  }
}


body {
  background-color: $main-color;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
