@import '../../variables.scss';

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 70%;
  margin: ($gutter * 8) auto;

  &__column {
    width: 50%;
    height: 600px;
    float: left;

    &.banner {
      background: url('../../images/weather.gif') no-repeat center;
    }

    &.content {
      background-color: $main-gray;
    }

    &__title {
      color: $main-gray;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: $main-color;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
