@import '../../variables.scss';

.search {
    margin: 0 auto;
    padding: ($gutter * 4) 0;

    form {
        @include mobile-only {
            position: relative;
        }

        input {
            width: 30%;
            display: inline-block;
            margin-right: $gutter * 2;
            padding: $gutter;
            border: none;
            border-bottom: 1px solid $main-color;
            background-color: transparent;
            color: white;
            font-size: 16px;
    
            @include mobile-only {
                width: 80%;
                display: block;
                margin-bottom: $gutter;
            }
        
            &:focus {
                outline: none;
            }        
        }
        /* Change autocomplete styles in WebKit */
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-text-fill-color: white;
            -webkit-box-shadow: 0 0 0px 1000px transparent inset;
            transition: background-color 5000s ease-in-out 0s;
        }

    }


    .submit-search {
        padding: 0;
        background: none;
        border: none;
        font-size: 18px;
        color: $second-color;
        cursor: pointer;

        @include mobile-only {
            position: absolute;
            right: 0;
            top: 50px;
        }

        &:hover {
            transform: scale(1.5);
        }

        &:focus {
            outline: none;
        }
    }
}