@import '../../variables.scss';

.search {
    margin: 0 auto;
    padding: ($gutter * 4) 0;

    input {
        width: 30%;
        display: inline-block;
        margin-right: $gutter * 2;
        padding: $gutter;
        border: none;
        border-bottom: 1px solid $main-color;
        background-color: transparent;
        color: white;
    
        &:focus {
            outline: none;
        }
    
    }

    .submit-search {
        padding: 0;
        background: none;
        border: none;
        font-size: 18px;
        color: $second-color;
        cursor: pointer;

        &:hover {
            transform: scale(1.5);
        }
    }
}